@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #33363d;
}
.div1 {
    box-sizing: content-box;
    width: 300px;
    margin-left:50px;
}
.name {
    padding-left: 27px;
    padding-bottom:40px;
    height:5px;
    color: #004a93;
}
.img {
    margin-left:20px;
    width: 250px;
}
.p1 {
    font-weight: 400;
    color: #CFCFCF;
}
.vil {
    font-weight: 700;
    color: #004a93;
}
.flex {
    display: flex;
    box-sizing: content-box; 
    height: 1200px;  
}
.p1 {
    padding-left:10px;
    margin-left: 10px;
    margin-bottom:15px;
}
.p2 {
    width: 700px;
    margin-left: 70px;
    color: #CFCFCF;
}
.img2 {
    width:850px;
    margin-left:100px;
    margin-top:35px;
}
.img3 {
    width:850px;
    margin-left: 100px;
}
.img4 {
    width:850px;
    margin-left:100px;
}
.img5 {
    width:850px;
    margin-left:100px;
}
.img6 {
    width:850px;
    margin-left:100px;
}
.img7 {
    width:850px;
    margin-left:100px;
}
.img8 {
    width:850px;
    margin-left:100px;
}
.img9 {
    width:850px;
    margin-left:100px;
}
.img10 {
    width:850px;
    margin-left:100px;
}
.button {
    border:none;
    margin-top:50px;
    margin-left:300px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: #292C33;
    border-radius: 12px;
    width:400px;   
}
.button:hover {
    background-color:#27282c ;
    transition-duration: 0.4s;
}