@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.div1 {
    box-sizing: content-box;
    width: 300px;
    margin-left:50px;
}
.name {
    padding-left: 27px;
    padding-bottom:40px;
    height:5px;
}
.img {
    margin-left:53px;
}
.p1 {
    font-weight: 400;
}
.vil {
    font-weight: 700;
    color: red;
}
.flex {
    display: flex;
    box-sizing: content-box; 
    height: 1200px;  
}
.p1 {
    padding-left:10px;
    margin-left: 10px;
    margin-bottom:15px;
}
.p2 {
    width: 700px;
    margin-left: 70px;
}
.img2 {
    width:850px;
    margin-left:100px;
}
.img3 {
    width:850px;
    margin-left: 100px;
}
.img4 {
    width:850px;
    margin-left:100px;
}
.img5 {
    width:850px;
    margin-left:100px;
}
.img6 {
    width:850px;
    margin-left:100px;
}
.img7 {
    width:850px;
    margin-left:100px;
}
.h2 {
    margin-top:50px;
    margin-left:350px;
    font-size: 25px;
}